.modal{
    z-index: 1;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
}

.modal__content{
    width: 700px;
    height: 600px;
    background: #fff;
    border-radius: 9px;
    padding: 15px;
    text-align: center;
}

.modal__content h2{
    text-align: center;
}

.modal__content__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal__content__container div{
    width: 40%;
}

.modal__content__container div p {
    height: 345px;
    overflow-y: scroll;
}

.modal__content__btn{
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #7dc800;
    color: #fff;
    margin: 50px 0;   
}